NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SUPABASE_URL=https://vhhbqvsyxxdzxuyrdxhe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoaGJxdnN5eHhkenh1eXJkeGhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNzc1MDEsImV4cCI6MjA4Nzk1MzUwMX0.BKfQF_6TdvgKywvFfDzplJpQQqqh_jIff9ce98SwOSU
