SUPABASE_URL=https://vhhbqvsyxxdzxuyrdxhe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoaGJxdnN5eHhkenh1eXJkeGhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjM3NzUwMSwiZXhwIjoyMDg3OTUzNTAxfQ.BAMYk6pbupw6O9o-1-UL0ui7guqluVc1bISYQp4UHIw
SUPABASE_DB_URL=postgresql://postgres.vhhbqvsyxxdzxuyrdxhe:Ho6RGAD6PYc9PE31@aws-1-eu-central-1.pooler.supabase.com:6543/postgres
REDIS_URL=
JWT_SECRET=
ENVIRONMENT=development
